
body{
	background-color: red;
}

.container{
	width: 100%;
	height: 100%;
	background: lightblue;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pregunta{
	background: yellow;
}
.respuesta{
	background: green;
}
.fila-de-3, .fila-de-2{
	display: flex;
	flex-direction: row;
}
.fila-de-3{
	background: tomato;
}
.fila-de-2{
	background: gray;
}
.num {
	background: blue;	
}
.supr {
	background:purple;
}

